<div id="<%= dom_id staff %>">
  <p>
    <strong>Fname:</strong>
    <%= staff.fname %>
  </p>

  <p>
    <strong>Lnanme:</strong>
    <%= staff.lnanme %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= staff.position %>
  </p>

</div>
